@media screen and (min-width:600px) {

    .header {
        padding-right: 52px;
    }


    .content {
        padding-right: 52px;
    }

    .header-menu__open {
        display: none;
    }

    .header-menu__close {
        display: none;
    }

    .header-menu__wrapper {
        visibility: visible;
        position: static;
        transform: unset;
        background-color: transparent;
    }

    .header-list {
        flex-direction: row;
    }
}